<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" type="text/css">

    <meta charset="UFT-8"/>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title> Gioco morra cinese pc </title>
</head>

<body>

<header>

    <div class="header">

        <h1 align="center"><font color="white"/> GIOCO </h1>
        <br>
        <h2 align="center" ><font color="white"/>MORRA CINESE</h2>
    </div>

</header>

<form class="form" align="center" th:action="@{/morra-cinesea/gioca}" th:method="post" th:object="${mossa}">
    <input class="mossa" type="text" name="nome" id="name" placeholder="Inserisci la tua mossa"
           title="Inserisci la tua mossa" th:field="*{mossa}">

    <input class="bottone" type="submit"> INVIA </input>
    <input class="bottone2" type="reset"> RESET </input>
</form>

<!--<label th:text = "${esito.esito}"></label>-->
<!--<label th:text = "${esito.mossaGiocatore}"></label>-->
<!--<label th:text = "${esito.mossaComputer}"></label>-->
<label>Esito: </label> <label th:text = "${esito.getEsito()}"></label>
<label>Mossa giocatore: </label><label th:text = "${esito.getMossaGiocatore()}"></label>
<label>Mossa computer: </label><label th:text = "${esito.getMossaComputer()}"></label>
<label>Totale Partite: </label> <label th:text = "${esito.getStatistiche().getTotalePartite()}"></label>
<label>Partite perse: </label><label th:text = "${esito.getStatistiche().getPartitePerse()}">Partite perse</label>
<label>Partite vinte: </label><label th:text = " ${esito.getStatistiche().getPartiteVinte()}">Partite vinte</label>
</body>
</html>