<DOCTYPE html>
    <html lang="en">

    <head>

        <link rel="stylesheet" href="/style-old.css" type="text/css">

        <meta charset="UFT-8"/>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title> Gioco morra cinese pc </title>
    </head>

    <body>

    <header>

        <div class="header">
            <h1 align="center"> Gioco morra cinese pc </h1>
        </div>

    </header>


    <p>
    <h2 align="center"> Sfida il pc a morra cinese </h2> </p>

    <div class="contenitore">

        <form class="form" th:action="@{/gioca}" th:method="post" th:object="${mossa}">
            <input class="mossa" type="text" name="nome" id="name" placeholder="Inserisci la tua mossa"
                   title="Inserisci la tua mossa" th:field="*{mossa}">


            <input class="bottone" type="submit" title="Invia"> INVIA </input>
            <input class="bottone2" type="submit" title="Reset"> RESET </input>
        </form>

        </section>
    </div>


    </div>


    <!-- footer fondo con link -->
    <footer class="fondo" align="center"><a href="https://m.media-amazon.com/images/I/71ei4aiDVLL.jpg" title="Unicorno"><strong>BECCATE
        ST'UNICORNO!!!</strong></a></footer>
    </body>
    </html>